<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Preference Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style-with-prefix.css">
    <style>
        .srouce {
            text-align: center;
            color: #ffffff;
            padding: 10px;
        }
        
        body {
            background-image: url('samebg.jpg');
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>

    <div class="main-container">
        <div class="form-container">
            <div class="form-body">
                <form action="" class="the-form ">
                    <label for="location ">Preferred Location</label>
                    <br>
                    <select name="location " id="location " style="width: 130px; height: 40px; ">
                    <option value="Agra ">Agra</option>
                    <option value="Ahmedabad ">Ahmedabad</option>
                    <option value="Amritsar ">Amritsar</option>
                    <option value="Bengaluru ">Bengaluru</option>
                    <option value="Bhopal ">Bhopal</option>
                    <option value="Bhubaneswar ">Bhubaneswar</option>
                    <option value="Chandigarh ">Chandigarh</option>
                    <option value="Chennai ">Chennai</option>
                    <option value="Coimbatore ">Coimbatore</option>
                    <option value="Coonoor ">Coonoor</option>
                    <option value="Cuddalore ">Cuddalore</option>
                    <option value="Darjeeling ">Darjeeling</option>
                    <option value="Dehradun ">Dehradun</option>
                    <option value="Dindigul ">Dindigul</option>
                    <option value="Ernakulam ">Ernakulam</option>
                    <option value="Erode ">Erode</option>
                    <option value="Guwahati ">Guwahati</option>
                    <option value="Hastinapur ">Hastinapur</option>
                    <option value="Hosur ">Hosur</option>
                    <option value="Hyderabad ">Hyderabad</option>
                    <option value="Idukki ">Idukki</option>
                    <option value="Indore ">Indore</option>
                    <option value="Jaipur ">Jaipur</option>
                    <option value="Jamshedpur ">Jamshedpur</option>
                    <option value="Jodhpur ">Jodhpur</option>
                    <option value="Kanchipuram ">Kanchipuram</option>
                    <option value="Kanpur ">Kanpur</option>
                    <option value="Kanyakumari ">Kanyakumari</option>
                    <option value="Kharagpur ">Kharagpur</option>
                    <option value="Kodaikanal ">Kodaikanal</option>
                    <option value="Kolkata ">Kolkata</option>
                    <option value="Koonthakulam ">Koonthakulam</option>
                    <option value="Kovilpatti ">Kovilpatti</option>
                    <option value="Lucknow ">Lucknow</option>
                    <option value="Madurai ">Madurai</option>
                    <option value="Maharashtra ">Maharashtra</option>
                    <option value="Manipal ">Manipal</option>
                    <option value="Mumbai ">Mumbai</option>
                    <option value="Munnar ">Munnar</option>
                    <option value="Nagercoil ">Nagercoil</option>
                    <option value="Nagpur ">Nagpur</option>
                    <option value="New Delhi ">New Delhi</option>
                    <option value="Pune ">Pune</option>
                    <option value="Thanjavur ">Thanjavur</option>
                    </select>
                    <br>
                    <input type="submit " name="submit" value="Submit ">

                </form>

            </div>
            <!-- FORM BODY-->

            <div class="form-footer ">
            </div>
            <!-- FORM FOOTER -->

        </div>
        <!-- FORM CONTAINER -->
    </div>

</body>

</html>